//status start
#status {
    display: flex;
    height: 10vh;
    margin-bottom: 2vh;

    div.common {
        width: 100%;
        display: flex;
        flex-direction: row;

        >div {
            flex-basis: 11.1%;
            background: #fff;
            display: flex;
            border-radius: 5px;
            margin: 0 1% 0 0;
            padding: 0.5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 18px #eaeaea;
            transition: 1s;

            div:first-child {
                width: 40px;
                height: 40px;
                flex-basis: 30%;
                text-align: center;
                margin-right: 5%;
            }

            div:last-child {
                flex-basis: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                span:first-child {
                    color: #009FDF;
                    font-size: 18px;
                }

                span:last-child {
                    color: #939598;
                    font-size: 13px;
                    font-family: 'SABIC Typeface Text Regular', arial, helvetica;
                }
            }
        }

        >div:hover {
            box-shadow: 0px 0px 18px #ccc;
            transition: 0.5s;
            transform: scale(1.02);
            border-radius: 10px;
        }

        div:last-child {
            margin-right: 0px;
        }
    }
}

//status end





@media screen and (max-width:1280px) {
    #content {
        .content-inner {

            // status
            #status {
                div.common {
                    >div {
                        flex-direction: column;
                        height: auto;
                        padding: 10px 0;

                        div:first-child {
                            margin-right: 0px;

                            img {
                                width: 80%;
                            }
                        }

                        div:last-child {
                            width: 100%;

                            span {
                                text-align: center;
                            }
                        }
                    }
                }

                div.common div:first-child {
                    flex-basis: 9%
                }

                div:nth-child(2),
                div:nth-child(6) {
                    flex-basis: 8%
                }

                div.common div:nth-child(7),
                div:nth-child(8) {
                    flex-basis: 17.5%
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    #container {
        #content {
            .content-inner {

                // status
                #status {
                    margin-bottom: 1vh;

                    div.common {
                        flex-wrap: wrap;

                        div {
                            flex-basis: 24.5%;

                            div:first-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    #container {
        #content {
            .content-inner {

                // status
                #status {
                    div.common {
                        div {
                            padding: 2px 0;

                            div:first-child {
                                display: none;
                            }

                            div:last-child {
                                span:last-child {
                                    font-size: 10px;
                                }
                            }
                        }

                        div:nth-child(1),
                        div:nth-child(5) {
                            flex-basis: 20%;
                        }

                        div:nth-child(2),
                        div:nth-child(6) {
                            flex-basis: 17%;
                        }

                        div:nth-child(4),
                        div:nth-child(8) {
                            flex-basis: 31%;
                        }

                        div:nth-child(3),
                        div:nth-child(7) {
                            flex-basis: 30%;
                        }
                    }
                }
            }
        }
    }
}